# Build output
bin/
obj/

# NuGet packages
packages/

# Rider and JetBrains IDE files
.idea/
*.iml
_ReSharper.Caches/

# Rider-specific files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
riderModule.iml
